<center>
  <h1><%= @workout.name %></h1><br>
    <h4><%= "#{@workout.style} #{@workout.time_domain}:" %></h4>
      <h5><% @reps_array.zip(@hopper.workout.movements).each do |rep, move| %>
    <%= "#{rep} #{move.name}" %><br>
  <% end %></h5>
</center>


    <div class="row">
      <div class="col s14 m2">
        <div class="card-panel black">
          <span class="white-text"><% @workout.movements.each do |m| %>The <%= m.name %> is a <%= m.style.downcase %> style movement, targeting the <%= m.target_area.downcase %>.<% end %></span>
        </div>
      </div>
    </div>
