
<div class="container">
<center>
  <h1 style="color:white;">Login!</h1>
   <%= form_tag login_path do %>
    <p style="color:white;">Email <%= text_field_tag :email %></p>
    <p style="color:white;">Password <%= password_field_tag :password %></p>
    <p style="color:white;">Password Confirmation <%= password_field_tag :password_confirmation %></p>
     <%= submit_tag "GO" %>
   <% end %>
  </center>
</div>
