<div class="container">
<center>
  <h1 style="color:white;">Signup!</h1>
    <%= form_for User.new do |f| %>
      <%= f.label :name %>
      <p style="color:white;"><%= f.text_field :name %></p>

      <%= f.label :email %>
      <p style="color:white;"><%= f.text_field :email %></p>

      <%= f.label :email_confirmation %>
      <p style="color:white;"><%= text_field :user, :email_confirmation %></p>

      <%= f.label :password %>
      <p style="color:white;"><%= f.password_field :password %></p>

      <%= f.label :password_confirmation %>
      <p style="color:white;"><%= f.password_field :password_confirmation %></p>
      <%= f.submit "Submit" %>
    <% end %>
  </center>
</div>
