<!DOCTYPE html>
<html>
  <head>
    <title>GENER8</title>
      <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
        <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
        <%= csrf_meta_tags %>
        <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
          <style>
             body {
             font-family: 'Bangers', cursive;
             font-size: 48px;
             }
          </style>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
</head>
<body>
<%= render "shared/navbar" %>
<% if @current_user %>
   Signed in as <%= @current_user.name %> | <%=   link_to "Logout", '/logout' %>
  <% else %>
    <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
<% end %>

<%= yield %>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
<script>
  $(document).ready(function () {
    $('.slider').slider({full_width: true});
    });

  $(".button-collapse").sideNav();
    $('.carousel.carousel-slider').carousel({fullWidth: true});

  $(document).ready(function(){
    $('.scrollspy').scrollSpy();
  });

  $(document).ready(function(){
     $('.parallax').parallax();
   });

   $(document).ready(function() {
   Materialize.updateTextFields();
   });
   $(document).ready(function(){
  // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
  $('.modal-trigger').leanModal();
});

    </script>
  </body>
</html>
