<!DOCTYPE html>
<html>
<head>
  <title>GENER8</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
</head>
<body>
<%= render "shared/navbar" %>

   <div class="slider">
   <ul class="slides">
     <li>
       <img src="https://usercontent1.hubstatic.com/6894236_f520.jpg"> <!-- random image -->
       <div class="caption center-align">
         <h3>Embrace the suck</h3>
         <h5 class="light grey-text text-lighten-3"></h5>
       </div>
     </li>
     <li>
       <img src="http://vikingweightlifting.com/wp-content/uploads/2012/06/Eleiko-Weightlifting-Equipment.jpg"> <!-- random image -->
       <div class="caption left-align">
         <h3>Prepare for anything</h3>
       </div>
     </li>
   </ul>
 </div>

<%= yield %>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
<script>
  $(document).ready(function () {
    $('.slider').slider({full_width: true});
      $(".button-collapse").sideNav();
        $('.carousel.carousel-slider').carousel({fullWidth: true});
      $(document).ready(function(){
    $('.scrollspy').scrollSpy();
    });

    });
    </script>
  </body>
</html>
